<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= title %></title>
  </head>
  <body>

    <h1>Laboratorio XSS</h1>

    <% if (typeof xssTriggered !== 'undefined' && xssTriggered) { %>
  <div class="alert-danger">
    锔 Vulnerabilidad explotada: se ejecut贸 c贸digo malicioso (XSS).
  </div>
<% } %>

    <h3>
      Modo actual: 
      <span class="<%= mode === 'vulnerable' ? 'mode-vulnerable' : 'mode-secure' %>">
        <%= mode.toUpperCase() %>
      </span>
    </h3>

    <!-- Bot贸n para cambiar modo -->
    <a href="/labs/xss/switch-mode" class="btn">
      Cambiar a modo <%= mode === "vulnerable" ? "SEGURO" : "VULNERABLE" %>
    </a>

    <hr>

    <p>
Bienvenido al laboratorio de XSS (Cross-Site Scripting).
En este laboratorio podr谩s experimentar con la vulnerabilidad XSS, que permite a un atacante inyectar c贸digo malicioso (generalmente JavaScript) en p谩ginas web vistas por otros usuarios,
lo que puede llevar a robo de cookies, redirecciones maliciosas, o incluso control total del navegador de la v铆ctima.

<h4> Pasos para explotar la vulnerabilidad:</h4>

Prueba a introducir en el formulario de abajo algunos textos como <pre><code>&lt;input autofocus onfocus=alert('XSS')&gt;</code></pre>
o <pre><code>&lt;img src=x onerror=alert('XSS')&gt;</code></pre> y ver谩s c贸mo se comporta la p谩gina al introducir estos payloads.`</p>

<hr>

    <!-- Formulario -->
    <form action="/labs/xss/submit" method="POST">
      <label>Introduce un texto:</label><br>
      <input type="text" name="userInput" value="<%= userInput %>" /><br><br>
      <button type="submit" class="btn">Enviar</button>
    </form>


    <!-- Resultado -->
    <% if (result) { %>
  <h4>Resultado:</h4>

  <% if (mode === 'vulnerable') { %>
    <div class="result"><%- result %></div>
  <% } else { %>
    <div class="result"><%= result %></div>
  <% } %>

<% } %>

    <hr>

    <!-- Botones de acci贸n -->
    <p><a href="/labs/xss/code" class="btn">Mostrar c贸digo vulnerable</a></p>
    <a href="/" class="btn">Volver</a>

    
  </body>
</html>